<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LearnIt</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sacramento&family=Ubuntu:wght@300&display=swap"
    rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles_3.css">
  <script src="https://www.iconshock.com" crossorigin="anonymous"></script>



  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">
    <img class="crayon" src="images_2\crayon.png" alt="crayon.png">
    <img class="crayon1" src="images_2\crayon.png" alt="crayon.png">


    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">LearnIt<br>
          <h6>Parent Login</h6>
        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#cta">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Chat Room</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addChild" >Add child</a>
            </li>
          </ul>
        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h2 class="big-heading">Encourage their strengths, celebrate their quirks, and improve their weakness, the way
            you would with any child.</h2>

        </div>
        <div class="col-lg-6">
          <div class="bg-image">
            <img class="atom" src="images_2\atom.png" alt="atom.png">
            <img class="color-palette" src="images_2\color-palette.png" alt="color-palette.png">
            <img class="flute" src="images_2\flute.png" alt="flute.png">
          </div>
        </div>

      </div>

    </div>

  </section>





  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">What’s Next In Treatment?</h2>
          <em>Mumbai, Maharastra</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">How can siblings be included in the care of children with autism and related
            disabilities?</h2>
          <em>Beverly, Illinois</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Press -->

  <section class="colored-section" id="press">
    <a href="E:\LearnIt\learnit complete website\chat1.html">
        <a class="create-button btn btn-lg btn btn-outline-info btn-lg active" type="button" href="chat1">Chat Room</a>
    </a>

  </section>





  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">
      <h3 class="big-heading">“If they can’t learn the way we teach, <br>we teach the way they learn.”</h3>
      <p class="para_cta">We know how important it is <br>for your child to be on schedule.</p>
      <p>Make your own Today!</p>
      <img class="timetable" src="images_2/timetable.png" alt="timetable.png">
      <a href="E:\LearnIt\learnit complete website\MyFirstSchedule\MyFirstSchedule.html">
          <a class="create-button btn btn-lg btn btn-outline-info btn-lg active" type="button" href="createSchedule">Create Schedule</a>
      </a>


    </div>
  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 LearnIt</p>
    </div>
  </footer>


</body>

</html>